.down {
	height: 200px;
	width: 150px;
	background-color: #f1f1f1;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

.up1 {
	height: 200px;
	width: 150px;
	background-color: #7f007f;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}
.up2 {
	height: 200px;
	width: 150px;
	background-color: #ffff00;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}
.up3 {
	height: 200px;
	width: 150px;
	background-color: #996633;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}
.up4 {
	height: 200px;
	width: 150px;
	background-color: #ff0000;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}
.up5 {
	height: 200px;
	width: 150px;
	background-color: #0000ff;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}
.up6 {
	height: 200px;
	width: 150px;
	background-color: #ff7f00;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}
.up7 {
	height: 200px;
	width: 150px;
	background-color: #ff00ff;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}
.up8 {
	height: 200px;
	width: 150px;
	background-color: #00ffff;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}